{% set currentCategory = lang + 'Platform' %}
{% set navPages = collections[currentCategory] | eleventyNavigation(eleventyNavigation.key) %}
{% set allPages = collections[currentCategory] %}

<section>

<h1 class="heading heading--big">{{ eleventyNavigation.key }}</h1>

{% include "blocks/main/category/choose-goods-view.njk" %}

<div class="category ">



{% for item in navPages %}
{% for page in allPages %}
  {% if page.url === item.url %}

  <article class="category-goods ">
    <div class="category-goods__top-block">

      <a href="{{ item.url | url }}" class="category-goods__heading-link">
        <h2 class="category-goods__heading">{{ item.title }}</h2>


        {% if page.data.intro %}
          <p class="category-goods__description">
            {{ page.data.intro }}
          </p>
        {% endif %}

        <div class="category-goods__image-block">
          {% image400 item.productImage, item.title, 'category-goods__photo' %}
        </div>


      </a>

    </div>

    <div class="category-goods__order-block">
      {% set orderInfo = page.data.orderInfo %}
      {% include "blocks/main/tds/order-info.njk" %}
    </div>

  </article>

  {% endif %}
{% endfor %}
{% endfor %}
</div>
</section>
