<div class="view-switcher-block">
  <fieldset class="view-switcher">
    <legend class="view-switcher__legend visually-hidden">Вид товаров</legend>
    <div class="view-switcher__radio-block">
      <input class="view-switcher__radio view-switcher__radio--list" type="radio" name="view" value="list" aria-label="по умолчанию" checked>
      <input class="view-switcher__radio view-switcher__radio--grid-large" type="radio" name="view" value="grid-large" aria-label="фото с описанием">
      <input class="view-switcher__radio view-switcher__radio--grid-small" type="radio" name="view" value="grid-small" aria-label="только фото">
    </div>
  </fieldset>
</div>
