<!DOCTYPE html>
<html class="html" lang="{{ lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/base.css">

  {% if gallery %}
    <link rel="stylesheet" href="/styles/lightgallery.css">
  {% endif %}
</head>

<body class="body {% if isHome %} body--home {% endif %} {% if toPDF %}body--pdf{% endif %}">

  <div class="justplatform">

  {% if isHome %}
    <div class="top-home-image">
      <picture>
        <source srcset="/images/conveyor-background.avif"
        type="image/avif">

        <source srcset="/images/conveyor-background.webp"
        type="image/webp">


        <img
          alt="conveyor"
          class="top-home-image__image"
          src="/images/conveyor-background.jpeg">
      </picture>
    </div>
  {% endif %}


  {% include "blocks/header.njk" %}
{# tds nav #}
  {% if orderInfo %}
    {% include "blocks/header/tds-nav.njk" %}
  {% endif %}


<main>
  <div class="main">

  {# Breadcrumbs #}
  {% if orderInfo or isCategory %}
    {% include "blocks/header/breadcrumbs.njk" %}
  {% endif %}


  {% if isCategory %}
    {% include "blocks/main/category/category-goods.njk" %}
  {% endif %}






  {{ content | safe }}

  {# информация для заказов #}
  {% if orderInfo %}
    {% include "blocks/main/tds/order-info.njk" %}
  {% endif %}


  {# загрузки #}
  {% if orderInfo %}
    {% include "blocks/main/tds/downloads.njk" %}
  {% endif %}


  {# дополнительные товары #}
  {% if orderInfo %}
    {% include "blocks/main/tds/additional-goods.njk" %}
  {% endif %}

  {% if toPDF %}
  {% include "blocks/main/tds/qrcode.njk" %}
  {% endif %}
  </div>
</main>
  {% include "blocks/footer.njk" %}


  {% if isHome %}
    <div class="bottom-home-image">
      <div>
        <svg class="bottom-home-image__image" width="1920" height="1199" viewBox="0 0 1920 1199" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1362.08 17.6031C1339.6 -1.69904 1306.4 -1.69907 1283.92 17.6031L-69.9432 1179.98C-112.189 1216.25 -86.5385 1285.5 -30.8584 1285.5L2676.86 1285.5C2732.54 1285.5 2758.19 1216.25 2715.94 1179.98L1362.08 17.6031Z" fill="#F4F4F2" stroke="#495464" stroke-width="6"/>
          <path d="M1286.87 38.8792C1308.23 20.5422 1339.77 20.5422 1361.13 38.8793L2714.99 1201.25C2755.12 1235.71 2730.75 1301.5 2677.86 1301.5L-29.8584 1301.5C-82.7545 1301.5 -107.122 1235.71 -66.9889 1201.25L1286.87 38.8792Z" fill="#BBBFCA"/>
          <path d="M2565 1255L1899 1255L1899 497L2565 497L2565 1255Z" fill="#F4F4F2"/>
          <line x1="1917" y1="1205" x2="1917" y2="494" stroke="#495464" stroke-width="6"/>
          <path d="M19 1292L6.00001 1292L6 1123L19 1123L19 1292Z" fill="#F4F4F2"/>
          <line x1="3" y1="1255" x2="3" y2="1118" stroke="#495464" stroke-width="6"/>
        </svg>
      </div>
    </div>
  {% endif %}

  </div>




  <script src="/js/main.js"></script>

  {% if gallery %}
    <script src="/js/lightgallery.js"></script>
    <script>
      var myGalleryArray = document.querySelectorAll('.lg');

      for (var i = 0; i < myGalleryArray.length; i++) {
        lightGallery(myGalleryArray[i],{
          plugins: [lgZoom, lgShare, lgVideo],
        });
      }

    </script>
  {% endif %}
</body>

</html>
