*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.html {
  scroll-behavior: smooth;
  font-size: 16px;


}

.body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-weight: 400;
  line-height: 1.2;
  color: $text-color;
  text-align: left;
  background-color: $body-bg;

  @include baseFontSize;

  position: relative;
  width: 100%;
  max-width: $for-full-hd;
  margin: 0 auto;


}

.justplatform {
  position: absolute;
  z-index: -10;
  background-color: transparent;
  background-image: url("/images/bg.png");

  width: 100%;
  max-width: $for-full-hd;
  margin: 0 auto;

  overflow-x: hidden;

}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

