.footer {
  padding-bottom: .5rem;

}

.footer-block {
  @include baseWidth;


  @media (min-width: $for-small-desktop) {
    // map.png
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: url('/images/map.png');
      z-index: -1;
      opacity: .2;
    }
  }

  @media (min-width: $for-medium-desktop) {
    padding: 0 200px;
  }

  @media (min-width: $for-extra-large-desktop) {
    padding: 0 220px;
  }
}




.footer__footer-info-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  // margin: 0 1rem;

  @media (min-width: $for-small-desktop) {
    grid-template-columns: 3fr 2fr;
    // padding: 2rem;
  }
}


.footer-block--white-bg {
  width: 100%;
  max-width: $for-full-hd;
  margin: 0 auto;

  // background-color: $page-bg;




}


.footer__footer-info-block--white-bg {
  margin: 1rem 0;

  background-color: $page-bg;

  @media (min-width: $for-full-hd) {
    margin: 1rem 10px;
  }

}

.footer__footer-info-block--width {

  max-width: $for-large-desktop;
  margin: 0 auto;
  // padding: 1rem 0;

  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $for-small-desktop) {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;

    padding: 0 200px;

  }

  @media (min-width: $for-extra-large-desktop) {
    padding: 0 220px;
  }


}
