.header-block {
  max-width: $for-full-hd;
  margin: 0 auto;
}

.header-block--home {
  // for navigation.js
}

.header-block--open-menu {
  background-color: $page-bg;

  & .search {
    display: grid ;
  }

  & .lang-switch, .user {
    display: flex;
  }

  & .basket {
    display: block;
  }

  & .header__nav {
    gap: 1rem;
  }

  @media (min-width: $for-medium-desktop) {
    & .header__nav {
      gap: 2rem;
    }
  }
}

.header {
  @include baseWidth;
}

.header__nav {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(6, auto);

  grid-template-areas:
    'navlogo navbutton'
    'navsearch navsearch'
    'navmenu navmenu'
    'navlang navlang'
    'navbasket navbasket'
    'navuser navuser';
  grid-column-gap: 1rem;
  align-items: center;

  @media (min-width: $for-small-desktop) {
    grid-template-columns: max-content max-content max-content max-content max-content max-content;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'navlogo navbutton navsearch navlang navbasket navuser'
      '. navmenu navmenu navmenu navmenu navmenu';
  }

  @media (min-width: $for-medium-desktop) {
    grid-column-gap: 2rem;
  }

}


.header__logo {
  grid-area: navlogo;
}

.header__nav-button {
  grid-area: navbutton;
}

.header__menu {
  grid-area: navmenu;
}

.header__search {
  grid-area: navsearch;
}

.header__basket {
  grid-area: navbasket;
}

.header__lang {
  grid-area: navlang;
}

.header__user {
  grid-area: navuser;
}
