.body--home {
  position: relative;
}

.top-home-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -3;
  overflow-x: hidden;

  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-home-image__image {
  display: block;
  width: 1920px;
  height: 1203px;
}




.bottom-home-image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  overflow-x: hidden;

  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.bottom-home-image__image {
  display: block;

  width: 1920px;
  height: auto;
}

