.main {
  @include baseWidth;
}


.main__heading-block {
  text-align: center;
  text-transform: uppercase;


  @media (min-width: $for-small-desktop) {
    text-align: left;
    padding: 8rem 0;
  }

  @media (min-width: $for-large-desktop) {
    text-align: left;
    padding: 10rem 0;
  }
}

.heading-block__heading {
  display: inline-block;
  color: #fff;
  // padding: 1rem;

  // background-color: $footer-bg;

  @media (min-width: $for-small-desktop) {
    // padding: 2rem;
    max-width: 70%;
  }
}


.catalog {

}



.jp__heading--level1 {

}

.jp__heading--level2 {

}

.jp__heading--level3 {

}

.jp__text {
  margin: 1rem 0;
}


.jp__list {
  margin: 1rem 0 1rem 2rem;
}


.delete-temp-hidden-class {
  display: none;
}
