// стили для печати

@media print {

  @page {
    margin: 1cm 1cm 1cm 1cm;
  }

  *,*:before,*:after,*:first-letter,p:first-line,div:first-line,blockquote:first-line,li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    font-size: 16px !important;
  }

  .header {
    display: none !important;
  }

  .footer {
    display: none !important;
  }

  aside {
    display: none !important;
  }

  .non-print {
    display: none !important;
  }

  main {
    display: block !important;
  }

  .youtube__icon {
    display: none !important;
  }

  .section {
    display: none !important;
  }

  .additional-goods {
    display: none !important;
  }

  .downloads {
    display: none !important;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .qrcode {
    display: block !important;
    width: 100%;
    text-align: right;
  }

  .qrcode__image {
    display: inline;
    width: 150px;
    height: 150px;
  }



  .specifications__item {
    display: grid !important;
    grid-template-columns: 2fr 1fr 3fr;
  }

  .order__top-panel {
    display: grid !important;
    grid-template-columns: 2fr 7fr 2fr 4fr;
    column-gap: .5rem;
    justify-items: center;
    border-bottom: 3px solid $text-color;
  }

  .order__item {
    display: grid !important;
    grid-template-columns: 2fr 7fr 2fr 4fr;
    column-gap: .5rem;

    align-items: center;
    justify-items: center;
  }

  .order-item__prompt {
    display: none !important;
  }

}
