.catalog {
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  gap: 1rem;

  margin: 2rem 0;

  list-style: none;

  @media (min-width: $for-tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  @media (min-width: $for-small-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  @media (min-width: $for-medium-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.catalog__list-item {
  position: relative;

  padding: 1rem;
  background-color: $catalog-cover-bg;
  border-radius: 1rem;
}

.catalog__link {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
}

.catalog__heading {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;

  color: $text-color;
}

.catalog__image {
  display: block;
  width: 100%;
  height: auto;
}

.catalog__category-id {
  position: absolute;
  padding: 0 0.5rem;
  top: 16px;
  right: 0;

  color: #fff;
}
