.gallery {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1.5rem;

  margin: 2rem 0;

  @media (min-width: $for-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $for-small-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {
  cursor: pointer;

}

.gallery__item--video {
  position: relative;
}


.gallery__image-block {
  //
}

.gallery--border {
  border-radius: 1rem;
  border: 3px solid $text-color;
}

.gallery__image-description {
  text-align: center;
  margin-top: .5rem;
}


.gallery__image {
  display: block;
  width: 100%;

  height: auto;

  border-radius: 1rem;

}


.gallery--youtube-block {
  position: relative;
  padding-bottom: 74%;
  background-color: #fff;

  &:hover .youtube-icon__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
  }
}



.gallery__youtube-video-poster {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;


  display: flex;
  flex-direction: column;
  justify-content: center;

}


.gallery__image--youtube {

  border-radius: none;
  border: none;
}


.youtube__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;

  width: 68px;
  height: 48px;

}

.youtube-icon__button-shape {
  fill: #212121;
  fill-opacity: 0.8;

}

.youtube-icon__button-icon {
  fill: #fff;
}
