<div class="footer__company-info">
  <div class="company-block__title">ООО «Антикорпром»</div>
  <div class="company-block__address">ул. Спокойная 2, к.7, <br>224012, г. Брест, <br>Республика Беларусь <br>УНП 290669612</div>
  <div class="company-block__mail">info@antikorprom.by</div>
  <div class="company-block__phone">+375 162 513 555</div>
</div>
