<div class="footer__form ">
  <form class="footer-form" role="form">

    <input class="footer-form__first-label" type="text" >

    <input
      class="footer-form__username"
      autocomplete="nickname"
      autocorrect="off"
      type="text"
      placeholder="{{ name }}">

    <input
      class="footer-form__email"
      autocomplete="email"
      autocapitalize="off"
      autocorrect="off"
      spellcheck="false"
      type="text"
      placeholder="{{ email }}">

    <textarea class="footer-form__message" placeholder="{{ message }}"></textarea>

    <button class="footer-form__submit-button" type="submit">{{ send }}</button>
  </form>
</div>
