<div class="footer__impressum">
  <a class="impressum__link" href="/">Impressum</a>
    <span class="impressum__separator"></span>
  <a class="impressum__link" href="/">AGB</a>
    <span class="impressum__separator"></span>
  <a class="impressum__link" href="/">Datenschutz</a>
</div>
