{% set currentCategory = lang + 'Platform' %}

{% set navPages = collections[currentCategory] | eleventyNavigation %}

<div class="footer__footer-navigation">
  <ul class="footer-navigation__list">

  {%- for item in navPages %}

    <li class="footer-navigation__list-item">
      <a
        class="footer-navigation__list-link {% if entry.url == page.url %}
        footer-navigation__list-link--active {% endif %}"
        href="{{ item.url | url }}">{{ item.title }}
      </a>
    </li>

  {% endfor %}

  </ul>
</div>
