<div class="footer__footer-social">
  <ul class="footer-social__list">
    <li class="footer-social__list-item">
      <a class="footer-social__link" href="/">
        <svg class="footer-social__icon">
          <title>Youtube</title>
          <use xlink:href="/images/sprite.svg#youtube"></use>
        </svg>
      </a>
    </li>

    <li class="footer-social__list-item">
      <a class="footer-social__link" href="/">
        <svg class="footer-social__icon">
          <title>Facebook</title>
          <use xlink:href="/images/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>

    <li class="footer-social__list-item">
      <a class="footer-social__link" href="/">
        <svg class="footer-social__icon">
          <title>Instagram</title>
          <use xlink:href="/images/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>

    <li class="footer-social__list-item">
      <a class="footer-social__link" href="/">
        <svg class="footer-social__icon">
          <title>Linkedin</title>
          <use xlink:href="/images/sprite.svg#linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
