.footer__company-info {
  text-align: center;

  @media (min-width: $for-small-desktop) {
    text-align: left;
  }

}

.company-block__title {
  margin: 0 0 1rem 0;
  font-weight: 600;
}


.company-block__address {
  margin: 1rem 0;
}

.company-block__mail {
  margin: 1rem 0;
}

.company-block__phone {
  margin: 1rem 0;
}
