// Форма связи

.footer-form {
  display: grid;
  grid-template: auto / 1fr;
  gap: 1rem;

}


.footer-form__first-label {
  display: none;
}

.footer-form__username {
  @include baseFontSize;
  background-color: transparent;
  padding: .25rem .5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid $footer-text-color;

  &::placeholder {
    text-align: right;
    text-transform: uppercase;
  }
}

.footer-form__email {
  @include baseFontSize;
  background-color: transparent;
  padding: .5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid $footer-text-color;

  &::placeholder {
    font-size: inherit;
    font: inherit;
    text-align: right;
    text-transform: uppercase;
  }
}


.footer-form__message {
  @include baseFontSize;
  background-color: transparent;
  padding: .5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid $footer-text-color;

  resize: none;
  height: 100px;

  &::placeholder {
    font-size: inherit;
    font: inherit;
    text-align: right;
    text-transform: uppercase;
  }
}

.footer-form__submit-button {
  @include button;
  margin: 0 auto;
  background-color: $light-button;
}
