.footer__heading {
  @include headingLevelThree;
  padding: 1rem;
  max-width: $for-large-desktop;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $for-small-desktop) {
    padding: 1.5rem 1.5rem .5rem 6rem;
    text-align: left;
  }
}
