.footer__impressum {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 1rem;

  @media (min-width: $for-small-desktop) {
    justify-content: flex-start;
  }

}

.impressum__link {
  font-weight: 600;
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: darken($text-color, 10);
    text-decoration: underline;
  }
}

.impressum__separator {
  &::after {
    content: '/';
    margin: 0 .5rem;
  }
}
