
.footer__footer-navigation {
  padding: .5rem 0;
}

.footer-navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;

  @media (min-width: $for-small-desktop) {

    justify-content: flex-start;

  }
}

.footer-navigation__list-item {
  margin-right: 1rem;

  @media (min-width: $for-small-desktop) {
    margin-right: 1.5rem;

  }
}

.footer-navigation__list-link {
  text-decoration: none;
  color: $text-color;
  font-weight: 600;

  &:hover {
    color: darken($text-color, 10);
    text-decoration: underline;
  }
}
