.footer__footer-social {
  background-color: $footer-bg;
  padding: 1rem 0;

  @media (min-width: $for-small-desktop) {
    background-color: transparent;
    padding: .5rem 0;
  }
}


.footer-social__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  list-style: none;

  @media (min-width: $for-small-desktop) {

    // margin-right: 1.5rem;

  }
}

.footer-social__list-item {
  margin: 0 .5rem;
}

.footer-social__link {
  display: flex;
}

.footer-social__icon {
  width: 2rem;
  height: 2rem;

  fill: $text-color;

  &:hover {
    fill: darken($text-color, 10)
  }

}
