// базовый размер шрифта для текста
@mixin baseFontSize {
  font-size: 0.8rem;
  @media (min-width: $for-mobile) {
    font-size: 1.1rem;
  }
  @media (min-width: $for-tablet) {
    font-size: 1.2rem;
  }
  @media (min-width: $for-small-desktop) {
    font-size: 1.3rem;
  }
  @media (min-width: $for-large-desktop) {
    font-size: 1.4rem;
  }
}


@mixin fontSizeSmall {
  font-size: 0.8rem;
  @media (min-width: $for-mobile) {
    font-size: .9rem;
  }
  @media (min-width: $for-tablet) {
    font-size: 1rem;
  }

}


// ширина для основных блоков (footer, header, main...)
@mixin baseWidth {
  max-width: $for-large-desktop;
  margin: 0 auto;
  padding: .5rem;

  @media (min-width: $for-mobile) {
    padding: 1rem;
  }

  @media (min-width: $for-small-desktop) {
    padding: 1.5rem;
  }

  // @media (min-width: $for-medium-desktop) {
  //   padding: 2rem;
  // }


}

// Заголовок: уровень 1

@mixin headingLevelOne {
  font-size: 1.5rem;
  @media (min-width: $for-mobile) {
    font-size: 1.6rem;
  }
  @media (min-width: $for-tablet) {
    font-size: 1.8rem;
  }
  @media (min-width: $for-small-desktop) {
    font-size: 2rem;
  }
  @media (min-width: $for-large-desktop) {
    font-size: 2.3rem;
  }
}




// Заголовок: уровень 3

@mixin headingLevelThree {
  font-size: 1.2rem;
  @media (min-width: $for-mobile) {
    font-size: 1.4rem;
  }
  @media (min-width: $for-tablet) {
    font-size: 1.5rem;
  }
  @media (min-width: $for-small-desktop) {
    font-size: 1.6rem;
  }
  @media (min-width: $for-large-desktop) {
    font-size: 1.7rem;
  }
}


// Заголовок: уровень 3

@mixin headingSmall {
  font-size: 1rem;
  @media (min-width: $for-mobile) {
    font-size: 1.1rem;
  }

}



// Кнопка стандартная

@mixin button {
  width: min-content;

  border: 1px solid transparent;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  padding: .5rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


  &:hover {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  }

  &:focus {
  }

  &:active {
    border: 1px solid rgba(73, 84, 100, 1);
  }
}
