$for-mobile: 241px;
$for-tablet: 576px;
$for-small-desktop: 992px;
$for-medium-desktop: 1200px;
$for-large-desktop: 1400px;
$for-extra-large-desktop : 1600px;
$for-full-hd: 1920px;

$text-color: #495464;
$page-bg: #f4f4f2;
$body-bg: #fff;
$footer-bg: #bbbfca;
$footer-text-color: darken($text-color, 10);

$catalog-cover-bg: #e8e8e8;

$light-button: #f4f4f2;

$outline: rgb(0, 160, 253);
