.category {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  gap: 3rem;
}

.category--grid-large-view {

  @media (min-width: $for-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  @media (min-width: $for-small-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

  }

  @media (min-width: $for-medium-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }


  & .category-goods__description, .category-goods__order-block {
    display: none;
  }

  & .category-goods__heading-link {
    display: flex;
    flex-direction: column-reverse;
  }

  & .category-goods__heading {
    @include headingSmall;
    text-align: center;
  }
}


.category--grid-small-view {
  @media (min-width: $for-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
  }

  @media (min-width: $for-tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  @media (min-width: $for-small-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

  }

  @media (min-width: $for-medium-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }

  @media (min-width: $for-large-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  }


  & .category-goods__description, .category-goods__heading, .category-goods__order-block {
    display: none;
  }

  & .category-goods__heading-link {
    display: flex;
    flex-direction: column-reverse;
  }


}


.category-goods {
  // margin: 2rem 0;
  // @media (min-width: $for-medium-desktop) {
  //   margin: 3rem 0;
  // }
}

.category-goods__top-block {

}

.category-goods__heading-link {
  display: block;
  color: inherit;
  text-decoration: none;

  @media (min-width: $for-medium-desktop) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
  }

}

.category-goods__heading {


  @media (min-width: $for-medium-desktop) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

}

.category-goods__description {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
	grid-column-end: 3;
}


.category-goods__image-block {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
	grid-column-end: 2;
}

.category-goods__photo {
  display: block;
  width: 100%;
  max-width: 400px;
  border: 3px solid $text-color;
  border-radius: 20px;
}

.category-goods__order-block {
  margin-top: 1rem;
}
