.view-switcher-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
}

.view-switcher {
  display: inline-block;
  position: relative;
  border: 1px solid #BBBBBE;


}

.view-switcher__legend {
  pointer-events: none;

}

.view-switcher__radio-block {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.view-switcher__radio {
  cursor: pointer;
  appearance: none;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;

  &:focus {
    outline: none;
  }

  &:checked {
    background-color: #BBBBBE;
  }
}

.view-switcher__radio--list {
  background-image: url('/images/list.svg');
}

.view-switcher__radio--grid-large {
  background-image: url('/images/grid-large.svg');
}

.view-switcher__radio--grid-small {
  background-image: url('/images/grid-small.svg');
}

