<div class="catalog">
  {% set currentCategory = lang + 'Platform' %}
  {% set navPages = collections[currentCategory] | eleventyNavigation %}
  <ul class="catalog__list">
    {%- for entry in navPages %}
      {%- if entry.children.length %}
        {% for child in entry.children %}
          {% if child.categoryID %}
            <li class="catalog__list-item">
              <a href="{{ child.url | url }}" class="catalog__link">
                <h2 class="catalog__heading">{{ child.title }}</h2>
                {% image400 child.categoryPhoto, child.title, "catalog__image" %}
                <span class="catalog__category-id" style="background-color: {{ child.categoryColor }}">{{ child.categoryID }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {%- endif -%}
    {%- endfor %}
  </ul>
</div>
