{% if additionalGoods %}

<div class="additional-goods">
  <h3 class="additional-goods__heading">{{ additionalGoodsHeading }}</h3>
  <ul class="additional-goods__list">

    {% set currentCategory = lang + 'Platform' %}

    {% for good in additionalGoods %}

    {% for item in collections[currentCategory] %}

      {% if item.data.eleventyNavigation.key == good %}

      <li class="additional-goods__list-item">
        <a class="additional-goods__link" href="{{ item.url | url }}">
          {% image400 item.data.eleventyNavigation.productImage, item.data.eleventyNavigation.key, 'additional-goods__product-image' %}

          <span class="additional-goods__product-name">{{ item.data.eleventyNavigation.key }}</span>
        </a>
      </li>

      {% endif %}

    {% endfor %}

    {% endfor %}



  </ul>

</div>

{% endif %}


