

{% if toPDF or downloads %}
<div class="downloads">
  <h3 class="downloads__heading">{{ downloadsHeading }}</h3>

  <div class="downloads__block downloads-block">
    <svg class="downloads__icon">
      <title>pdf</title>
      <use xlink:href="/images/sprite.svg#pdf"></use>
    </svg>

    <ul class="downloads__list">
      {% if toPDF %}
        <li class="downloads__list-item">
          <a
            class="downloads__link"
            target="_blank"
            href="{% linkForPdf page.url | url %}">
            {{ eleventyNavigation.key }}
          </a>
        </li>
      {% endif %}

      {% if downloads %}
        {% for pdf in downloads %}
          <li class="downloads__list-item">
            <a
              class="downloads__link"
              target="_blank"
              href="{{ pdf.link }}">
              {{ pdf.fileName }}
            </a>
          </li>
        {% endfor %}
      {% endif %}


    </ul>
  </div>
</div>

{% endif %}

