{% if orderInfo.length %}



  {# в ТДС заголовок отображается, в категориях -- нет #}
  {% if not item %}
  <h3 class="order__heading">{{ orderInfoHeading }}</h3>
  {% endif %}


  <div class="order__top-panel non-print">
    <span class="order-top-panel__item order-top-panel__item--left">
      {{ orderInfoVendorCode }}
    </span>
    <span class="order-top-panel__item">
      {{ orderInfoDescription }}
    </span>
    <span class="order-top-panel__item">
      {{ orderInfoWeight }}
    </span>
    <span class="order-top-panel__item">
      {{ orderInfoCustomCode }}
    </span>
    <span class="order-top-panel__item non-print">
      {{ orderInfoPrice }}
    </span>

    <span class="order-top-panel__item non-print">
      {{ orderInfoAvailable }}
    </span>

    <span class="order-top-panel__item non-print">
      {{ orderInfoOrder }}
    </span>
  </div>


  {% for item in orderInfo %}
    <div class="order__item">
      <p class="order-item order-item--left">
        <span class="order-item__prompt">{{ orderInfoVendorCode }}:</span>
        {{ item.vendorCode }}
      </p>

      <p class="order-item order-item--left">
        <span class="order-item__prompt">{{ orderInfoDescription }}:</span>
        {{ item.description }}
      </p>

      <p class="order-item">
        <span class="order-item__prompt">{{ orderInfoWeight }}:</span>
        {{ item.weight }}
      </p>

      <p class="order-item">
        <span class="order-item__prompt">{{ orderInfoCustomCode }}:</span>
        {{ item.customCode }}
      </p>

      <p class="order-item non-print">
        <span class="order-item__prompt">{{ orderInfoPrice }}:</span>
        - / {{ item.unit }}
      </p>

      <p class="order-item non-print">
        <span class="order-item__prompt">{{ orderInfoAvailable }}:</span>

      </p>

      <div class="order-item non-print delete-temp-hidden-class">
        <label for="{{ item.vendorCode }}" class="order-item__prompt">{{ orderInfoOrder }}:</label>
        <span class="order-item__input-block">
          <input class="order-item__input" type="number"  min="0" value="0" id="{{ item.vendorCode }}" >
          <button class="order-item__button">
            <svg class="order-item__icon">
              <title>{{ orderInfoOrder }}</title>
              <use xlink:href="/images/sprite.svg#basket"></use>
            </svg>
          </button>
        </span>
      </div>
    </div>

  {% endfor %}
{% endif %}
