<div class="specifications">
{% for item in sequence %}

  <p class="specifications__item specifications-item
  {% if loop.index == 1 %}specifications-item--first{% endif %}

  {% if loop.index == loop.length %}specifications-item--last{% endif %}
  ">
    <span class="specifications-item__title">{{ item.title }}</span>
    <span class="specifications-item__din">
      {% if item.din %}
        {{ item.din }}
      {% endif %}
    </span>
    <span class="specifications-item__description">{{ item.description }}</span>
  </p>
{% endfor %}
</div>
