<footer class="footer">
  <div class="footer-block">
    {% include "blocks/footer/heading.njk" %}

    <div class="footer__footer-info-block">

      <div>
        {% include "blocks/footer/company-info.njk" %}

        {% include "blocks/footer/impressum.njk" %}
      </div>

      <div>
        {% include "blocks/footer/contact-form.njk" %}
      </div>
    </div>

  </div>

  <div class="footer-block--white-bg">
    <div class="footer__footer-info-block--white-bg">
      <div class="footer__footer-info-block--width">
        {% include "blocks/footer/navigation.njk" %}

        {% include "blocks/footer/social-list.njk" %}
      </div>

    </div>

  </div>
</footer>
