<div class="header-block {% if isHome %} header-block--home {% endif %}">
<header class="header">
  <nav class="header__nav">
    <div class="header__logo">
      {% include "blocks/header/logo.njk" %}
    </div>

    <div class="header__nav-button">
      {% include "blocks/header/nav-button.njk" %}
    </div>

    <div class="header__menu menu-block ">
      {% include "blocks/header/main-navigation.njk" %}
    </div>

    <div class="header__search">
      {% include "blocks/header/search.njk" %}
    </div>

    <div class="header__basket">
      {% include "blocks/header/basket.njk" %}
    </div>

    <div class="header__lang">
      {% include "blocks/header/lang-switch.njk" %}
    </div>

    <div class="header__user">
      {% include "blocks/header/user.njk" %}
    </div>
  </nav>
</header>
</div>
