.basket {
  display: none;
  position: relative;
  cursor: pointer;

  

  @media (min-width: $for-small-desktop) {
    display: block;
  }

}


.basket__name {
  font-weight: 600;
  @media (min-width: $for-small-desktop) {
    display: none;
  }
}


.basket__icon {
  display: none;


  @media (min-width: $for-small-desktop) {
    display: block;
    fill: $text-color;
    width: 2rem;
    height: 2rem;

    &:hover {
      fill: darken($text-color, 10);
    }
  }
}

.basket__quantity {
  @media (min-width: $for-small-desktop) {
    display: none;
  }
}

.basket__quantity-number {

  @media (min-width: $for-small-desktop) {
    position: absolute;
    padding: .25rem;
    border-radius: 1rem;
    background-color: #fff;
    color: $text-color;
    left: .5rem;
    top: -1rem;
    user-select: none;
    font-size: 1rem;
  }
}

.basket__quantity-pcs {
  @media (min-width: $for-small-desktop) {
    display: none;
  }
}
