.breadcrumbs {

}

.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1rem;
  list-style: none;
}

.breadcrumbs__list-item {
  margin-right: .25rem;
  &::after {
    content: '/';
  }
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs__list-item--active {
  &::after {
    content: none;
  }
}

.breadcrumbs__link--active {
  cursor: default;
  &:hover {
    text-decoration: none;
  }
}
