.lang-switch {
  display: none;
  flex-direction: row;

  @media (min-width: $for-small-desktop) {
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover > .lang-switch__list {
      display: block;
    }
  }

}

.lang-switch__current {



}

.lang-switch__current-mobile {


  @media (min-width: $for-small-desktop) {
    display: none;
  }

}

.lang-switch__current-desktop {
  display: none;
  user-select: none;
  cursor: pointer;

  @media (min-width: $for-small-desktop) {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
  }




}

.lang-switch__list {
  margin-left: 1rem;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


  @media (min-width: $for-small-desktop) {

    display: none;
    position: absolute;
    left: 0;
    top: 2rem;

    margin-left: 0;
    padding: 1rem;

    background-color: #fff;


  }
}




.lang-switch__list-item {
  margin: 0 .25rem;
  @media (min-width: $for-small-desktop) {
    margin: .25rem 0;
  }

}


.lang-switch__list-item--active {
  opacity: .7;


}


.lang-switch__link {
  text-decoration: none;
  color: $text-color;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    color: darken($text-color, 10);
  }

}


.lang-switch__link--active {
  font-weight: 600;
  cursor: default;

}
