





// Первый уровень

// ul - класс для основного списка
.menu__main-menu {
  list-style: none;

}

.main-menu--level-one {
  display: none;
}

.main-menu--open-level-one {
  display: grid;
  gap: 1rem;
  padding: 1rem 0;

}


// li - класс для элемента списка первого уровня
.main-menu__list-item {
  // position: relative

}

.main-menu__list-item--level-one {

}

// li - если есть подменю
.main-menu__list-item--level-one-has-child {
  position: relative;


}

// li - активный класс, если мы на этой странице
.main-menu__list-item--level-one-active {


}



// span - для объединения ссылки и иконки
.main-menu__link-block {
  // display: inline-grid;
  grid-template: auto / max-content min-content;
  // gap: .5rem;
  // padding: .5rem;

}

.main-menu__link-block--level-one {

}

// id категории
.menu-link__category-id {
  color: #fff;
  padding: 0 .2rem;
  font-weight: 400;
}


// a - ссылка для пункта меню первого уровня
.main-menu__menu-link {
  @include baseFontSize;
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: darken($text-color, 10);
  }
}

.main-menu__menu-link--level-one {

}

.main-menu__menu-link--active {
  font-weight: 600;
}


// span - для иконки в мультиуровневом меню
.menu-link__menu-icon-block {
  cursor: pointer;
  margin-left: .5rem;

  &:hover > .menu-icon-block__icon {
    fill: darken($text-color, 10);
  }
}


// svg - иконка
.menu-icon-block__icon {
  width: 1rem;
  height: 1rem;
  fill: $text-color;

  &:hover > .menu-icon-block__icon--close {
    stroke: darken($text-color, 10);
  }
}

.menu-icon-block__icon--close {
  display: block;
  stroke: $text-color;


}

.menu-icon-block__icon--open {
  display: none;
}




// второй уровень

.main-menu--level-two {
  list-style: none;
  display: none;
  margin: .5rem 0;
}

.main-menu--level-two-visible {
  display: grid;
  gap: .5rem

}




// третий уровень

.main-menu--level-three {
  list-style: none;
  display: none;
  margin: .5rem 0 .5rem 2rem;
}

.main-menu--level-three-visible {
  display: grid;
  gap: .5rem
}


