.menu__button {
  display: block;

  border: none;
  background-color: transparent;
  cursor: pointer;








}

// гамбургер
.menu__icon {
  width: 2rem;
  height: 2rem;
  stroke: $text-color;
  &:hover {
    stroke: darken($text-color, 10);
  }
}

.menu__icon-menu,
.menu__button--open .menu__icon-cross {
  display: block;
}

.menu__icon-cross,
.menu__button--open .menu__icon-menu {
  display: none;
}
