// search 🔎

.search {
  display: none;
  grid-template: auto / auto min-content;
  gap: 1rem;
  width: 100%;
  max-width: 350px;
  background-color:#BBBBBE;
  border-radius: 1.5rem;

  @media (min-width: $for-small-desktop) {
    display: grid;
  }

}

.search__input {
  @include baseFontSize;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 1.3rem;
  color: #495464;
  font-weight: 400;


}

.search__button {
  display: flex;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;



}

.search__icon {
  width: 2rem;
  height: 2rem;
  margin: .3rem 1.3rem .3rem .3rem;
  padding-left: .3rem;
  border-left: 1px solid #495464;
  fill: $text-color;

  &:hover {
    fill: darken($text-color, 10)
  }
}
