.category-navigation-block {
  display: none;

  @media (min-width: $for-large-desktop) {
    display: block;
    position: sticky;

    top: 3rem;
    z-index: 9999;
  }

}

.category-navigation {

  position: absolute;

  right: 0;

  transform: translate(calc(100% - 40px), 0);



  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  background: transparent;



  transition: transform 1s ease;

  &:hover {
    transform: translate(0, 0);
  }

}

.category-navigation__list {

  background: #f4f4f2;

  display: flex;
  flex-direction: column;

  list-style: none;


  &:hover {
    right: 0;
  }

}

.category-navigation-list {

}

.category-navigation-list__item {
  padding: 0.1rem 0;


}


.category-navigation-list__item--active {



}





.category-navigation-list__category-id {
  display: inline-block;
  color: #fff;

  font-family: monospace;
  width: 40px;
  text-align: center;


}

.category-navigation-list__category-id--active {
  font-weight: 900;
}


.category-navigation-list__link {
  color: inherit;
  text-decoration: none;
  color: inherit;


  &:hover {
    text-decoration: underline;

  }



}

.category-navigation-list__link--active {
  font-weight: 800;
}
