// 🧔🏼 user

.header__user {
  width: 100%;
  max-width: 200px;

}

.user {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;


  @media (min-width: $for-small-desktop) {
    display: flex;
  }
}

.user__icon {
  display: block;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  stroke: $text-color;
  &:hover {
    stroke: darken($text-color, 10);
  }
}

.user__name {
  display: none;
  user-select: none;
}

.user__name--visible {
  display: inline;
  overflow-y: hidden;
}
