.additional-goods {
  margin: 3rem 0;
}

.additional-goods__heading {
  @include headingLevelThree;
  text-transform: uppercase;
}

.additional-goods__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  margin-top: 1rem;

  list-style: none;

  @media (min-width: $for-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $for-small-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $for-medium-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-goods__list-item {

}

.additional-goods__link {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: $text-color;
}

.additional-goods__product-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  border: 3px solid $text-color;
}

.additional-goods__product-name {
  text-align: center;
}
