.downloads {
  margin: 3rem 0;
}

.downloads__heading {
  @include headingLevelThree;
  text-transform: uppercase;
}

.downloads__block {
  margin: 1rem 0;
}

.downloads-block {
  @media (min-width: $for-small-desktop) {
    display: grid;
    grid-template-columns: min-content 1fr;
  }
}

.downloads__icon {
  fill: $text-color;
  display: none;
  width: 5rem;
  height: 5rem;

  @media (min-width: $for-small-desktop) {
    display: block;
  }
}

.downloads__list {
  list-style: none;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: .5rem;

  @media (min-width: $for-small-desktop) {
    margin-left: 2rem;
  }
}

.downloads__list-item {

}

.downloads__link {
  text-decoration: none;
  color: $text-color;
  font-weight: 600;
}
