.order {
  margin: 2rem 0;
}

.order__heading {
  @include headingLevelThree;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

}

.order__top-panel {
  display: none;

  @media (min-width: $for-medium-desktop) {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 2fr 2fr 1fr 1fr;
    column-gap: .5rem;
    justify-items: center;
    border-bottom: 3px solid $text-color;

    padding: .3rem 0 .2rem 0;
    background: linear-gradient(to right,  #7bb4f0 , #f3f3f2 );


  }
}

.order-top-panel__item {
  font-weight: 600;
  @include headingSmall;
  text-transform: uppercase;
  text-align: center;


  width: 100%;

}

.order-top-panel__item--left {
  justify-self: start;
  text-align: left;
}


.order__item {
  @include fontSizeSmall;

  display: flex;
  flex-direction: column;

  border-bottom: 2px solid $text-color;
  padding: .2rem 0;

  @media (min-width: $for-medium-desktop) {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 2fr 2fr 1fr 1fr;
    column-gap: .5rem;

    align-items: center;
    justify-items: center;

  }
}



.order-item__prompt {
  @media (min-width: $for-medium-desktop) {
    display: none;
  }
}

.order-item {
  margin-bottom: .5rem;
  @media (min-width: $for-medium-desktop) {
    margin-bottom: 0;
  }
  text-align: center;


  width: 100%;
}

.order-item--left {
  justify-self: start;
  text-align: left;
}

.order-item__input-block {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;

  border: 1px solid $text-color;

}

.order-item__input {
  display: inline-block;
  width: 100%;
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0 .2rem;


}


.order-item__button {
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 .25rem;

  cursor: pointer;
}

.order-item__icon {
  width: 1.45rem;
  height: 1.45rem;

  fill: green;
}
