.specifications {
  margin: 2rem 0;
}

.specifications__item {


  @media (min-width: $for-medium-desktop) {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
  }
}

.specifications-item {
  border-bottom: 1px solid $text-color;
}

.specifications-item--first {

  border-top: 3px solid $text-color;
}

.specifications-item--last {
  border-bottom: none;
}

.specifications-item__title {
  font-weight: 600;
  padding: .25rem 0 ;

  @media (min-width: $for-medium-desktop) {
    text-align: right;
  }

}

.specifications-item__din {
  font-weight: 600;
  padding: .25rem 1rem;

  @media (min-width: $for-medium-desktop) {

    text-align: right;
    border-right: 3px solid $text-color;
  }
}

.specifications-item__description {
  display: block;
  padding: .25rem 0;

  @media (min-width: $for-medium-desktop) {
    display: inline;
    padding: .25rem 0 .25rem 1rem;
  }
}
