---
layout: base.njk
title: Home page

eleventyNavigation:
  key: Catalog
  order: 1

isHome: true
---

<main>
  <div class="main">
    <div class="main__heading-block">
      <h1 class="heading-block__heading">Материалы для вулканизации, ремонта, защиты и обслуживания конвейерных лент и конвейерных систем</h1>
    </div>
    {% include "blocks/home/catalog.njk" %}
  </div>
</main>


