<div class="basket">
  <span class="basket__name">{{ basket }}</span>
  <svg class="basket__icon">
    <title>{{ basket }}</title>
    <use xlink:href="/images/sprite.svg#basket"></use>
  </svg>
  <span class="basket__quantity">Количество: </span>
  <span class="basket__quantity-number delete-temp-hidden-class">27 </span>
  <span class="basket__quantity-pcs">шт</span>
</div>
