{% set currentCategory = lang + 'Platform' %}
{% set navPages = collections[currentCategory] | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
<nav class="breadcrumbs"  role="navigation">
  
  <ol class="breadcrumbs__list">
    {% for item in navPages %}
      <li class="breadcrumbs__list-item {% if item.url == page.url %} breadcrumbs__list-item--active {% endif %}">
        <a class="breadcrumbs__link {% if item.url == page.url %} breadcrumbs__link--active {% endif %}" href="{{ item.url | url }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}

    {#
    <li class="breadcrumbs__list-item breadcrumbs__list-item--active">
      <a aria-current="location" class="breadcrumbs__link breadcrumbs__link--active" href="{{ page.url | url }}">
        {{ eleventyNavigation.key }}
      </a>
    </li>
    #}

  </ol>
</nav>
