{% set languages = ['ru', 'en', 'de', 'fr'] %}
<div class="lang-switch">
  <div class="lang-switch__current">
    <span class="lang-switch__current-mobile">{{ language }}:</span>
    <span class="lang-switch__current-desktop">{{ lang }}</span>
  </div>
  <ul class="lang-switch__list">
    {% for item in languages %}
      {% if item == lang %}
        <li class="lang-switch__list-item lang-switch__list-item--active">
          <a class="lang-switch__link lang-switch__link--active" href="/{{ item }}/{% pageUrl page.url %}">{{ item }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% for item in languages %}
      {% if item != lang %}
        <li class="lang-switch__list-item">
          <a class="lang-switch__link" href="/{{ item }}/{% pageUrl page.url %}">{{ item }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
