{% set currentCategory = lang + 'Platform' %}


{# Первый уровень меню #}

{# ul - класс для основного списка #}
{% set ulFirstLevel = 'menu__main-menu  main-menu--level-one' %}

{# li - класс для элемента списка первого уровня #}
{% set liFirstLevel = 'main-menu__list-item main-menu__list-item--level-one' %}

{# li - активный класс, если мы на этой странице #}
{% set liFirstLevelActive = 'main-menu__list-item--level-one-active' %}

{# li - активный класс, если мы в этой категории #}
{% set liFirstLevelCategoryActive = 'main-menu__list-item--level-one-active' %}

{# li - активный класс, если ТДС в этой категории #}
{% set liFirstLevelTdsActive = 'main-menu__list-item--level-one-active' %}

{# li - класс, если есть подменю #}
{% set liFirstLevelHasChild = 'main-menu__list-item--level-one-has-child' %}

{# span - для объединения ссылки и иконки #}
{% set spanFirstLevelMenuItem = 'main-menu__link-block' %}

{# a - ссылка для пункта меню первого уровня #}
{% set linkFirstLevel = 'main-menu__menu-link main-menu__menu-link--level-one' %}

{# span - для иконки в мультиуровневом меню #}
{% set spanMenuIconFirstLevel = 'menu-link__menu-icon-block menu-link__menu-icon-block--level-one' %}

{# svg - иконка #}
{% set svgIcon = 'menu-icon-block__icon' %}





{# Второй уровень меню #}

{# ul - класс для второго списка #}
{% set ulSecondLevel = 'main-menu--level-two' %}

{# li - класс для элемента списка второго уровня #}
{% set liSecondLevel = 'main-menu__list-item main-menu__list-item--level-two' %}

{# li - активный класс, если мы на этой странице #}
{% set liSecondLevelActive = 'main-menu__list-item--level-two-active' %}

{# li - активный класс, если мы в этой категории #}
{% set liSecondLevelCategoryActive = 'main-menu__list-item--level-two-active' %}

{# li - активный класс, если ТДС в этой категории #}
{% set liSecondLevelTdsActive = 'main-menu__list-item--level-two-active' %}


{# span - для объединения ссылки и иконки #}
{% set spanSecondLevelMenuItem = 'main-menu__link-block' %}


{# a - ссылка для пункта меню второго уровня #}
{% set linkSecondLevel = 'main-menu__menu-link main-menu__menu-link--level-two' %}


{# span - для иконки в мультиуровневом меню #}
{% set spanMenuIconSecondLevel = 'menu-link__menu-icon-block menu-link__menu-icon-block--level-two' %}

{# svg - иконка #}
{% set svgIcon = 'menu-icon-block__icon' %}



{# Третий уровень меню #}

{# ul - класс для третьего списка #}
{% set ulThirdLevel = 'main-menu--level-three' %}

{# li - класс для элемента списка третьего уровня #}
{% set liThirdLevel = 'main-menu__list-item main-menu__list-item--level-three' %}

{# li - активный класс, если мы на этой странице #}
{% set liThirdLevelActive = 'main-menu__list-item--level-three-active' %}

{# span - для объединения ссылки и иконки #}
{% set spanThirdLevelMenuItem = 'main-menu__link-block' %}

{# a - ссылка для пункта меню третьего уровня #}
{% set linkThirdLevel = 'main-menu__menu-link main-menu__menu-link--level-three' %}





  {% set navPages = collections[currentCategory] | eleventyNavigation %}


  <div class="menu-block">

    {# Первый уровень #}
    <ul class="{{ ulFirstLevel }}




    ">
      {%- for entry in navPages %}

      <li class="{{ liFirstLevel }}

      {# Активный класс, если мы на этой странице #}
      {%- if entry.url == page.url -%} {{ liFirstLevelActive }} {%- endif -%}

      {# Если страница в этой категории, то добавляем ещё вот этот класс #}
      {%- if entry.children.length %}
        {% for child in entry.children %}
          {% if child.url == page.url %}
            {{ liFirstLevelCategoryActive }}
          {% endif %}
        {% endfor %}
      {%- endif -%}


      {# Если страница ТДС в этой категории, то добавляем ещё вот и этот класс тоже #}
      {%- if entry.children.length %}
        {% for child in entry.children %}
          {%- if child.children.length %}
            {% for item in child.children %}
              {% if item.url == page.url %}
                {{ liFirstLevelTdsActive }}
              {% endif %}
            {% endfor %}
          {%- endif -%}
        {% endfor %}
      {%- endif -%}


      {# Если есть подменю, то добавляем данный класс #}
      {%- if entry.children.length %}
        {{ liFirstLevelHasChild }}
      {%- endif -%}

      ">

        {# вкладываем span внутрь li #}
        <span class="{{ spanFirstLevelMenuItem }}">

          {# ссылка #}
          <a
            class="{{ linkFirstLevel }}  {% if entry.url == page.url %} main-menu__menu-link--active  {% endif %}"
            href="{{ entry.url | url }}">{{ entry.title }}
          </a>

          {# Если внутри есть ещё меню, то вкладываем иконку в span #}
          {%- if entry.children.length -%}


            <span class="{{ spanMenuIconFirstLevel }}">
              <svg class="{{ svgIcon }}">
                <use class="menu-icon-block__icon--close" href="/images/sprite.svg#down"></use>
                <use class="menu-icon-block__icon--open" href="/images/sprite.svg#cross"></use>
              </svg>
            </span>

          {%- endif -%}

        </span>

        {# Плавно подходим ко второму уровню меню! #}

        {%- if entry.children.length -%}

          {# Второй уровень #}
          <ul class="{{ ulSecondLevel }}

{# раскрываем меню, если мы на этой странице #}
{%- if entry.url == page.url -%} main-menu--level-two-visible {%- endif -%}


{# Если страница в этой категории, то раскрываем меню #}
{%- if entry.children.length %}
  {% for child in entry.children %}
    {% if child.url == page.url %}
      main-menu--level-two-visible
    {% endif %}
  {% endfor %}
{%- endif -%}


{# Если страница ТДС в этой категории, то раскрываем меню #}
{%- if entry.children.length %}
  {% for child in entry.children %}
    {%- if child.children.length %}
      {% for item in child.children %}
        {% if item.url == page.url %}
          main-menu--level-two-visible
        {% endif %}
      {% endfor %}
    {%- endif -%}
  {% endfor %}
{%- endif -%}

">

            {% for child in entry.children %}

            <li class="{{ liSecondLevel }}

            {# Активный класс, если мы на этой странице #}
            {% if child.url == page.url %} {{ liSecondLevelActive }} {% endif %}


            {# Если страница в этой категории, то добавляем ещё вот этот класс #}
            {%- if child.children.length %}
              {% for item in child.children %}
                {% if item.url == page.url %}
                  {{ liSecondLevelCategoryActive }}
                {% endif %}
              {% endfor %}
            {%- endif -%}


            {# Если страница ТДС в этой категории, то добавляем ещё вот и этот класс тоже #}
            {%- if child.children.length %}
              {% for item in child.children %}
                {%- if item.children.length %}
                  {% for tds in item.children %}
                    {% if tds.url == page.url %}
                      {{ liSecondLevelTdsActive }}
                    {% endif %}
                  {% endfor %}
                {%- endif -%}
              {% endfor %}
            {%- endif -%}

            ">

              <span class="{{ spanSecondLevelMenuItem }}">

                {# Ссылка #}
                <a class="{{ linkSecondLevel }}  {% if child.url == page.url %} main-menu__menu-link--active {% endif %}" href="{{ child.url | url }}">

                  {# Иконка категории #}
                  {% if child.categoryID %}
                    <span class="menu-link__category-id" style="background-color: {{ child.categoryColor }}">{{ child.categoryID }}</span>
                  {% endif %}

                {{ child.title }}
                </a>




                {# Если внутри есть ещё меню, то вкладываем ссылку с иконкой в span #}
                {%- if child.children.length -%}

                  {# Иконка #}
                  <span class="{{ spanMenuIconSecondLevel }}">
                    <svg class="{{ svgIcon }}">
                      <use class="menu-icon-block__icon--close" href="/images/sprite.svg#down"></use>
                      <use class="menu-icon-block__icon--open" href="/images/sprite.svg#cross"></use>
                    </svg>
                  </span>
                {%- endif -%}

              </span>




              {# подходим к третьему уровню меню! #}
              {%- if child.children.length -%}

                {# Третий уровень #}
                <ul class="{{ ulThirdLevel }}

{# если мы на этой странице, то раскрываем меню #}
{% if child.url == page.url %} main-menu--level-three-visible {% endif %}


{# Если страница в этой категории, то добавляем ещё вот этот класс #}
{%- if child.children.length %}
  {% for item in child.children %}
    {% if item.url == page.url %}
      main-menu--level-three-visible
    {% endif %}
  {% endfor %}
{%- endif -%}


{# Если страница ТДС в этой категории, то добавляем ещё вот и этот класс тоже #}
{%- if child.children.length %}
  {% for item in child.children %}
    {%- if item.children.length %}
      {% for tds in item.children %}
        {% if tds.url == page.url %}
          main-menu--level-three-visible
        {% endif %}
      {% endfor %}
    {%- endif -%}
  {% endfor %}
{%- endif -%}

                ">

                {% for tds in child.children %}

                  <li class="{{ liThirdLevel }}
                  {# Активный класс, если мы на этой странице #}
                  {%- if tds.url == page.url -%}
                    {{ liThirdLevelActive }}
                  {%- endif -%}
                  ">

                  <span class="{{ spanThirdLevelMenuItem }}">

                    {# Ссылка #}
                    <a class="{{ linkThirdLevel }} {% if tds.url == page.url %} main-menu__menu-link--active {% endif %}" href="{{ tds.url | url }}">
                      {{ tds.title }}
                    </a>

                  </span>

                  </li> {# Пункт меню третьего уровня #}

                {% endfor %}

                </ul> {# Меню третьего уровня #}

              {%- endif -%}


            </li> {# Пункт меню второго уровня #}

            {% endfor %}

          </ul> {# Меню второго уровня #}
        {%- endif -%}



        </li> {# Пункт меню первого уровня #}
      {%- endfor %}
    </ul> {# Меню первого уровня #}

  </div>








{# Структура меню получается вот такой:
ul.menu__main-menu .main-menu--level-one
  li.main-menu__list-item main-menu__list-item--level-one.main-menu__list-item--level-one-active
    span.main-menu__link-block.main-menu__link-block--level-one
      a.main-menu__menu-link.main-menu__menu-link--level-one
      span.menu-link__menu-icon-block
        svg.menu-icon-block__icon

  ul.main-menu--level-two
    li.main-menu__list-item main-menu__list-item--level-two.main-menu__list-item--level-two-active
      span.main-menu__link-block.main-menu__link-block--level-two
        a.main-menu__menu-link.main-menu__menu-link--level-two
        span.menu-link__menu-icon-block
          svg.menu-icon-block__icon

    ul.main-menu--level-three
      li.main-menu__list-item.main-menu__list-item--level-three  main-menu__list-item--level-three-active
        span.main-menu__link-block.main-menu__link-block--level-three
          a.main-menu__menu-link.main-menu__menu-link--level-three
#}
