<button class="menu__button " type="button" aria-expanded="false" aria-controls="menu__list">
  <svg class="menu__icon" aria-hidden="true">
    <use class="menu__icon-menu" href="/images/sprite.svg#menu"></use>
    <use class="menu__icon-cross" href="/images/sprite.svg#cross"></use>
  </svg>
</button>
