<div class="header__searchTTT" >
  <form class="search" role="search">
    <input class="search__input" type="text" placeholder="{{ search }}...">
    <button class="search__button" type="submit" aria-label="search">
      <svg class="search__icon">
        <title>{{ search }}</title>
        <use xlink:href="/images/sprite.svg#search"></use>
      </svg>
    </button>
  </form>
</div>
