{% set currentCategory = lang + 'Platform' %}
 {% set navPages = collections[currentCategory] | eleventyNavigation %}


<div class="category-navigation-block">
  <nav class="category-navigation">
    <ul class="category-navigation__list category-navigation-list">
      {% for item in navPages %}

      {% if item.children.length %}
        {% for category in item.children %}

          {% if category.categoryID %}
            {% set currentCategory = false %}

            {# проверяем, в этой мы категории или нет #}
            {% if category.children.length %}
              {% for child in category.children %}

                {% if child.url == page.url %}
                  {% set currentCategory = true %}
                {% endif %}
              {% endfor %}
            {% endif %}

              <li class="
                category-navigation-list__item
                {% if currentCategory %} category-navigation-list__item--active {% endif %}

                ">
                <span class="category-navigation-list__category-id
                {% if currentCategory %} category-navigation-list__category-id--active {% endif %}" style="background: {{ category.categoryColor }};" >
                  {{ category.categoryID }}
                </span>
                <a class="category-navigation-list__link {% if currentCategory %} category-navigation-list__link--active {% endif %}" href="{{ category.url | url }}">
                  {{ category.title }}
                </a>
              </li>


          {% endif %}
        {% endfor %}
      {% endif %}

    {% endfor %}

    </ul>
  </nav>

</div>
