<div class="header__user">
  <div class="user delete-temp-hidden-class">
    <svg class="user__icon">
      <use xlink:href="/images/sprite.svg#user"></use>
    </svg>
    <span class="user__name">Antikorprom</span>
  </div>
</div>
