<head>
  <meta charset="utf-8">
	<script>
	  var lang = navigator.systemLanguage || window.navigator.language || navigator.userLanguage || navigator.browserLanguage;

		if (lang == "ru" || lang == "ru-RU" || lang == "RU-RU" || lang == "RU" ){
			document.location.replace("/ru/catalog/");
		}
		else if ( lang == "de" || lang == "de-DE" || lang == "DE-DE" || lang == "DE" ){
			document.location.replace("/de/catalog/");
		}
    else if (lang == "fr" || lang == "fr-FR" || lang == "FR-FR" || lang == "FR") {
      document.location.replace("/fr/catalog/");
    }
		else {document.location.replace("/en/catalog/");}
	</script>
</head>
