<div class="gallery lg">

{% for item in sequence %}

{# images #}
  {% if item.image %}

  {%- set itemGalleryLink -%}
    {%- galleryLink item.image -%}
  {%- endset -%}

  <div
    class="gallery__item"
    data-src="{{ itemGalleryLink }}-w2000.jpeg"
    data-sources='[
      {
        "srcset" : "{{ itemGalleryLink }}-w2000.avif", "type" : "image/avif"
      },
      {
        "srcset" : "{{ itemGalleryLink }}-w2000.webp", "type" : "image/webp"
      }
      ]'
    data-sub-html="{{ item.alt }}">

      <figure class="gallery__image-block">
        <div class="gallery--border">
          {% image400 item.image, '', 'gallery__image'  %}
        </div>

        <figcaption class="gallery__image-description">{{ item.alt }}</figcaption>
      </figure>

  </div>
  {% endif %}


{# videos youtube #}
  {% if item.video %}
    <div
      class="gallery__item gallery__item--video"
      data-src="//www.youtube.com/watch?v={{ item.video }}">

      <figure class="gallery__image-block">
        <div class="gallery--border gallery--youtube-block">
          <div class="gallery__youtube-video-poster">
            <picture>
              <source srcset="https://i.ytimg.com/vi_webp/{{ item.video }}/mqdefault.webp" type="image/webp">
              <img
                class="gallery__image gallery__image--youtube"
                src="https://i.ytimg.com/vi/{{ item.video }}/mqdefault.jpg"
                alt="{{ item.alt }}" >
            </picture>
            <span class="youtube__icon">
            <svg width="68" height="48" viewBox="0 0 68 48"><path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="youtube-icon__button-shape"></path>
            <path d="M 45,24 27,14 27,34" class="youtube-icon__button-icon"></path>
            </svg>
          </span>
          </div>

        </div>

        <figcaption class="gallery__image-description">
          {{ item.alt }}
        </figcaption>
      </figure>

    </div>
  {% endif %}

{% endfor %}

</div>


